@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "BasePage.cshtml";
}

@* the fun starts here *@
@Umbraco.RenderMacro("Breadcrumb")

<div class="content">
    @Umbraco.RenderMacro("PageBanner")

    <section class="BodyContent">
        <div class="container">
            <div class="row">
                @RenderBody()
            </div>
        </div>
    </section>
</div>

