@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{ 
 
   var rootPage = Umbraco.TypedContentAtRoot().First();
   var showBlock = bool.Parse(rootPage.GetPropertyValue("overOnsDisplay").ToString());
   var selection = rootPage.GetPropertyValue<IEnumerable<IPublishedContent>>("overOnsContentBlocks");
 
}

@if(@showBlock){
    <!-- VZW : BEGIN -->
    <section class="vzw clearfix">
    <div class="container">
    @if(selection.Any())
    {
        <div class="vzw-boxes">
            @foreach (var id in selection)
            {
                <div class="col-sm-4">
                    <div class="vzw-box">
                        <h3>@id.GetPropertyValue("pageTitle")</h3>
                        <p>@id.GetPropertyValue("intro")</p>
                    </div>
                </div>
            }
        </div>
    }
    </div>
    </section>
    <!-- VZW : END -->
}
                    
       