@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Archetype.Models;
@using Archetype.Extensions;

<!-- ******FOOTER****** -->
<footer class="footer">
    <div class="footer-content container">
        <div class="footer-col col-sm-6 col-xs-12">
@Umbraco.RenderMacro("NavigationBlocks", new {ContentNodeId = "1086"})
        </div>

        <div class="footer-col col-sm-6 col-xs-12 AboutUs">
            @Umbraco.RenderMacro("FooterAboutUsBlocks", new { ContentNodeId = "1087" })
            <div class="footer-col-inner col-sm-12">
                @Umbraco.RenderMacro("SponsorBlocks", new { startNodeId = "1088" })
            </div>
        </div>
    </div>


    <!--//footer-content-->
    <div class="bottom-bar">
        <div class="container">
            <small class="copyright col-md-6 col-sm-12 col-xs-12">
                <i class="fa fa-copyright iconBefore"></i>
                <a href="#"> &nbsp; Benoit Gevaert</a>
            </small>
            <ul class="social pull-right col-md-6 col-sm-12 col-xs-12"></ul><!--//social-->
        </div>
    </div><!--//container-->
    <!--//bottom-bar-->
</footer>
<!--//footer-->
