@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
                <!-- ******HEADER****** -->
        <header class="header">
            <!-- BEGIN TOP BAR-->
            <div class="top-bar col-md-12 col-sm-12">
                <div class="container  ">
                  @*  <ul class="SecondaryMenu">
                        <li class="divider"><a href="/"><i class="iconBefore icon icon-home icon-fw"></i><span class="hidden-xs">Home</span></a></li>
                        <li class="divider"><a href="#"><i class="iconBefore icon icon-newspaper"></i><span class="hidden-xs">Nieuws</span></a></li>
                        <li class="divider"><a href="#"><i class="iconBefore icon icon-sys-help-2 icon-fw"></i><span class="hidden-xs">Over ons</span></a></li>
                        <li class=""><a href="#"><i class="fa fa-envelope iconBefore"></i><span class="hidden-xs">Contact</span></a></li>
                    </ul>*@
                    @Umbraco.RenderMacro("SecondLevelNavigation")
                    <!--//nav-toggle-->
                </div>
            </div>

            <!--//TOP-BAR-->
            <!-- BEGIN HEADER MAIN -->
            <div class="header-main container">
                <div class="logo">
                    <a class="navbar-brand" href="/" id="logo" alt="Profff">
                        <span class="hidden-xs">
                            Profff<br />
                            <small>Belgische Vereniging leerkrachten Frans</small>
                        </span>
                    </a>
                </div>
                <div class="navbar-header">
                    <button class="nav navbar-inverse navbar-toggle pull-right" type="button"
                            data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!--//info-->
            </div>
            <!--//header-main-->
        </header>
        <!--//header-->
        <!-- ******NAV****** -->
        <nav class="nav main-nav navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-collapse collapse " id="navbar-collapse">
                    @Umbraco.RenderMacro("MainNavigation")
                    <ul class="nav navbar-nav navbar-right Registration">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                               data-delay="0" data-close-others="false"
                               href="">Mijn Profff<i class="icon icon-arrow-down iconBehind"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="icon icon-locked"></i> Aanmelden</a></li>
                                <li><a href="#"><i class="icon icon-request"></i> Ik ben nog geen lid</a></li>
                                <li class="disabled"><a href="#"><i class="icon icon-sys-help-2"></i> Ik ben mijn paswoord vergeten</a></li>
                            </ul>
                        </li>
                    </ul>
                    <!--//nav-->
                </div>
                <!--//navabr-collapse-->
            </div>
            <!--//container-->
        </nav>
        <!--//main-nav-->