@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{ var selection = CurrentPage.Ancestors(); }
 <div class="BreadcrumbBlock hidden-xs" >
    <div class="container">
    @if (selection.Any())
    {
        <ul class="breadcrumb">
            @* For each page in the ancestors collection which have been ordered by Level (so we start with the highest top node first) *@
            @foreach (var item in selection.OrderBy("Level"))
            {
                <li><a href="@item.Url">@item.Name</a> <span class="divider"></span></li>
            }
            @* Display the current page as the last item in the list *@
            <li class="active">@CurrentPage.Name</li>
        </ul>
    }
    </div>
</div>
