@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    var rootPage = Umbraco.TypedContentAtRoot().First();
    var selection = rootPage.GetPropertyValue<IEnumerable<IPublishedContent>>("secondLevelNavigation");
}

@*
    <ul class="SecondaryMenu">
        <li class="divider"><a href="/"><i class="iconBefore icon icon-home icon-fw"></i><span class="hidden-xs">Home</span></a></li>
        <li class="divider"><a href="#"><i class="iconBefore icon icon-newspaper"></i><span class="hidden-xs">Nieuws</span></a></li>
        <li class="divider"><a href="#"><i class="iconBefore icon icon-sys-help-2 icon-fw"></i><span class="hidden-xs">Over ons</span></a></li>
        <li class=""><a href="#"><i class="fa fa-envelope iconBefore"></i><span class="hidden-xs">Contact</span></a></li>
    </ul>
    //var item = Umbraco.TypedContent(id);
*@
<!--//nav-toggle-->
<ul class="SecondaryMenu">

    <li class="divider"><a href="/"><i class="iconBefore si si-home si-fw"></i><span class="hidden-xs">Home</span></a></li>
    @if (selection.Any())
    {
        foreach (var id in selection)
        {
            <li class="divider">
                <a href="@id.Url">

                    <i class="si @id.GetPropertyValue("icon") iconBefore"></i>
                    <span class="hidden-xs">@id.GetPropertyValue("displayName")</span>
                </a>
            </li>
        }
    }
    else
    {
        <li></li>
    }
</ul>