@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    var backgroundImageUrl = "/images/design/banner.jpg";
    if (CurrentPage.HasValue("titleImage"))
    {
        var backgroundImage = CurrentPage.GetPropertyValue<IPublishedContent>("titleImage");
        if (backgroundImage != null)
        {
            backgroundImageUrl = backgroundImage.Url;
        }
    }
}

    <section class="PageBanner" style="background-image: url('@backgroundImageUrl')">
        <div class="container">
        <h1 class="PageTitle">
            @Umbraco.Field("pageTitle", encoding: RenderFieldEncodingType.Html, convertLineBreaks: true)
        </h1>
        </div>
    </section>